.header{
  width: 880px;
  height: 74px;
  margin: 0 auto;
  border-bottom: 1px solid #545454;
  padding-top: 45px;
}

@media screen and (min-width: 320px) and (max-width: 1280px) {
  .header{
    width: 320px;
    height: 56px;
    margin: 0 auto;
    padding-top: 28px;
  }

  .header__image{
    margin-left: 27px;
  }


}